<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated example-language -->
      <package
            uri="http://de.hub.el/EL/1.0"
            class="de.hub.rcore.example.el.ExampleLanguagePackage"
            genModel="model/example-language.genmodel"/>
   </extension>

</plugin>
